/* General Styles */
.clearfix {
    clear: both;
}

.center {
    text-align: center;
}

.title {
    font-size: 1.4em;
}

/*  Basic Form Styles */
form, form input {
    display: block;
}

form {
    margin: 0 auto;
}

/* Calendar Styles */
#calendar {
    width: 90%;
    height: 650px;
    margin: 0 auto;
    padding: 0;
}
#calendar div.day {
    width:14.28%;
    height: 100px;
    float: left;
    margin: 1px;
    text-align: right;
    border: 1px solid black;
}