$base-size: 16;

@function rems($size) {
  $remSize: $size / $base-size;
  @return #{$remSize}rem;
}

.content-block { margin-bottom: rems($base-size); }
.content-block-sm { margin-bottom: rems($base-size*2); }
.content-block-md { margin-bottom: rems($base-size*3); }
.content-block-lg { margin-bottom: rems($base-size*4); }

.stripe { padding: rems($base-size) 0; }
.stripe-sm { padding: rems($base-size*2) 0; }
.stripe-md { padding: rems($base-size*3) 0; }
.stripe-lg { padding: rems($base-size*4) 0; }


body {
  margin-top: 60px;
}